<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body style="font-family: sans-serif;">
    <div style="display: block; margin: auto; max-width: 600px;" class="main">
      <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">Recuperação de senha</h1>
      <p>
        Uma solicitação de recuperação de senha foi realizada para o e-mail.
        Se você não foi a autor dessa requisição, seria legal trocar sua senha para garantir.
      </p>
      <p>
      Para continuar com a recuperação de senha, utilize o token {{ token }} ou link - <a href="{{ link }}">Nova senha</a>.
      </p>
      <img alt="Inspect with Tabs" src="https://assets-examples.mailtrap.io/integration-examples/welcome.png" style="width: 100%;">
    </div>
    <!-- Example of invalid for email html/css, will be detected by Mailtrap: -->
    <style>
      .main { background-color: white; }
      a:hover { border-left-width: 1em; min-height: 2em; }
    </style>
  </body>
</html>
